.calendar {
    h1 {
        margin: 0;
        padding: 0;
        line-height: 250%;
    }
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;

    .day-of-week {
        text-transform: lowercase;
        font-style: italic;
        color: #aaa;
    }

    .day-of-week-0 {
        font-weight: bolder;
    }

    .day {
        aspect-ratio: 1;
        border: 1px solid #eee;
        border-right: 0;
        border-top: 0;
        padding-left: 0.25rem;

        .digit {
            float: right;
            font-size: 200%;
        }

        .significant-dates {
            color: #555;
            font-size: 75%;

            line-height: 85%;
            text-transform: capitalize;

            &>span {
                text-transform: capitalize;
            }
        }
    }
}