.graphics {
    display: grid;
    row-gap: 1rem;
    column-gap: 1rem;

    &>div {
        background-size: cover;
    }

    &.single {
        grid-template-columns: 100%;
        grid-template-rows: 100%;
    }

    &.double {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100%;
    }

    &.triple {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100%;
    }

    &.four {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    &.six {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    &.four-asym {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        &>div:nth-child(1) {
            grid-row: 1 / 1;
            grid-column: 1 / span 2;
        }

        &>div:nth-child(2) {
            grid-row: 1 / 1;
            grid-column: 3 / 3;
        }

        &>div:nth-child(3) {
            grid-row: 2 / 2;
            grid-column: 1 / 1;
        }

        &>div:nth-child(4) {
            grid-row: 2 / 2;
            grid-column: 2 / span 2;
        }
    }

    &.ltb {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        &>div:nth-child(1) {
            grid-row: 1 / span 2;
            grid-column: 1 / 1;
        }

        &>div:nth-child(2) {
            grid-row: 1 / 1;
            grid-column: 2 / 2;
        }

        &>div:nth-child(3) {
            grid-row: 2 / 2;
            grid-column: 2 / 2;
        }
    }

    &.tbr {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        &>div:nth-child(1) {
            grid-row: 1 / 1;
            grid-column: 1 / 1;
        }

        &>div:nth-child(2) {
            grid-row: 2 / 2;
            grid-column: 1 / 1;
        }

        &>div:nth-child(3) {
            grid-row: 1 / span 2;
            grid-column: 2 / 2;
        }
    }

    &.l-five {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        &>div:nth-child(1) {
            grid-row: 1 / span 2;
            grid-column: 1 / span 2;
        }

        &>div:nth-child(2) {
            grid-row: 1 / 1;
            grid-column: 3 / 3;
        }

        &>div:nth-child(3) {
            grid-row: 1 / 1;
            grid-column: 4 / 4;
        }

        &>div:nth-child(4) {
            grid-row: 2 / 2;
            grid-column: 3 / 3;
        }

        &>div:nth-child(5) {
            grid-row: 2 / 2;
            grid-column: 4 / 4;
        }
    }

    &.r-five {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        &>div:nth-child(1) {
            grid-row: 1 / 1;
            grid-column: 1 / 1;
        }

        &>div:nth-child(2) {
            grid-row: 1 / 1;
            grid-column: 2 / 2;
        }

        &>div:nth-child(3) {
            grid-row: 2 / 2;
            grid-column: 1 / 1;
        }

        &>div:nth-child(4) {
            grid-row: 2 / 2;
            grid-column: 2 / 2;
        }

        &>div:nth-child(5) {
            grid-row: 1 / span 2;
            grid-column: 3 / span 2;
        }
    }
}