@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@media print {
    @page {
        size: A3 landscape;
        margin: 1rem;
    }
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 3mm;
}

.month-page {
    page-break-before: always;
    max-width: 100%;

    h1 {
        font-size: 300%;
        color: black;
        font-weight: bolder;
    }

    figure {
        display: block;

        img {
            display: block;
            max-width: 100%;
            margin: 0 auto;
            max-height: 55vh;
        }
    }

    .calendar-days {
        display: grid;
        grid-template-columns: repeat(14, 1fr);
        row-gap: 1rem;
        column-gap: 1rem;

        .day-of-week {
            text-transform: lowercase;
            font-style: italic;
            color: #aaa;
        }

        .day-of-week-0 {
            font-weight: bolder;
        }

        .day {
            aspect-ratio: 1;
            border: 1px solid #eee;
            border-right: 0;
            border-top: 0;
            padding-left: 0.25rem;

            .digit {
                float: right;
                font-size: 200%;
            }

            .significant-dates {
                padding: 0;
                margin: 0;
                list-style-type: none;
                color: #555;
                font-size: 75%;

                li {
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}